<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
        <!-- Requires also [supportedOS = Windows 10] in the 'app.manifest' file; see https://www.telerik.com/blogs/winforms-scaling-at-large-dpi-settings-is-it-even-possible- -->
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>